img {
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 30px;
  width: 240px;
  height: 300px;
}
h2 {
  color: lightskyblue;
  text-align: center;
}
h3 {
  color: lightgoldenrodyellow;
  text-align: center;
}
#buttons{
    padding-left: 325px;
}

#flick {
  flex: auto;
  background-color: rgb(134, 6, 6);
  width: 280px;
}

#sneaks {
  flex: auto;
  background-color: rgb(134, 6, 6);
  width: 280px;
}
#schoolYear {
  flex: auto;
  text-align: center;
  color: lightgreen;
}
#schoolYearSneaks {
  flex: auto;
  text-align: center;
  color: lightgreen;
}
.flex-container {
  border: 3px solid #fff;
  padding: 20px;
}

.flex-child {
  flex: 1;
  float: left;
  padding: 20px;
}
.flex-child:first-child {
  margin-right: 20px;
}
